body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: #626f47;
}

h1 {
  margin-top: 50px;
  font-size: 52px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  font-weight: 900;
}
p {
  margin-top: 30px;
}

section {
  padding: 60px 40px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.navbar-toggler {
  color: #798645;
  border: 1px solid #798645;
}

.offcanvas-header {
  background: #fefae0;
}

.offcanvas-title {
  color: #fefae0;
  font-weight: 600;
  background: #798645;
  border-radius: 6px;
  padding: 5px 8px;
}

.offcanvas-body {
  background: #fefae0;
  color: #798645;
}

.nav-link {
  color: #798645;
}

.navbar-nav .nav-link.active {
  color: #798645;
  font-weight: 700;
}

.logo {
  max-width: 75px;
}

.hero {
  color: #fefae0;
}

.img-fluid {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.container {
  max-width: 100%;
}

.hero-text {
  max-width: 70%;
  margin: 0 80px 0 80px;
}

.left-hero {
  background: #798645;
  padding: 80px 20px;
}

.right-hero {
  background: #fefae0;
  padding: 80px 20px;
}

.blurbs {
  max-width: 50%;
  margin: 50px 0 0 0;
}

.boxes {
  margin: 40px;
  padding: 50px 50px 30px 50px;
}

.roles {
  border: solid 2px #fefae0;
  border-radius: 10px;
}

.skills {
  color: #fefae0;
  max-width: 100%;
}

.recent {
  color: #798645;
}

.portfolio-section {
  background: #fefae0;
}

.portfolio-preview {
  border: solid 2px #798645;
  border-radius: 10px;
  color: #798645;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.text-muted {
  color: #798645 !important;
}

.btn {
  background: #798645;
  color: #fefae0;
}

.btn:hover {
  background: #fefae0;
  color: #798645;
  border: solid 2px #798645;
  border-radius: 4px;
}

footer {
  color: #fefae0;
  text-align: justify;
}

footer .footer-heading {
  font-weight: 700;
}

footer a {
  color: #fefae0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  margin-top: 30px;
  padding: 0;
}

footer li {
  list-style: none;
}
